<ul class="terrain-type-palette">
	{{#if (eq availableTerrains.length 0)}}
		<li><a data-action="configure-terrain-types">{{localize "TERRAINHEIGHTTOOLS.NoTerrainTypesWarn"}}</a></li>
	{{/if}}
	{{#each availableTerrains}}
		<li data-terrain-id="{{id}}">
			<div class="preview-box" style="border-color: {{borderColor}}; background: {{backgroundColor}};"></div>
			<label class="terrain-type-name">{{name}}</label>
		</li>
	{{/each}}
</ul>

<hr/>

<div class="flex0">
	<div class="tht-form-group flexrow">
		<label>
			{{localize "TERRAINHEIGHTTOOLS.Height.Name"}}
			<i class="fa fa-question-circle tht-form-group-hint" data-tooltip="{{localize "TERRAINHEIGHTTOOLS.Height.Hint"}}"></i>
		</label>
		<input type="number" name="selectedHeight" min="1">
	</div>
	<div class="tht-form-group flexrow">
		<label>
			{{localize "TERRAINHEIGHTTOOLS.Elevation.Name"}}
			<i class="fa fa-question-circle tht-form-group-hint" data-tooltip="{{localize "TERRAINHEIGHTTOOLS.Elevation.Hint"}}"></i>
		</label>
		<input type="number" name="selectedElevation" min="0">
	</div>
</div>
