<form>
	{{{localize "TERRAINHEIGHTTOOLS.DeleteTerrainTypeHint"}}}

	<ul class="terrain-type-list">
		{{#each object as |terrainType idx|}}
			<li class="terrain-type" data-terrain-type-id="{{terrainType.id}}">
				<input type="hidden" name="{{idx}}.id" value="{{terrainType.id}}">

				<div class="terrain-type-header flexrow">
					<button type="button" data-action="toggle-expand">
						<i class="fas fa-chevron-{{#if (lookup ../expandedTypes terrainType.id)}}up{{else}}down{{/if}}"></i>
					</button>

					<input type="text" name="{{idx}}.name" value="{{terrainType.name}}" placeholder="{{localize "Name"}}">

					<button type="button" data-action="move-up" title="{{localize "TERRAINHEIGHTTOOLS.MoveUp"}}"><i class="fas fa-arrow-up"></i></button>
					<button type="button" data-action="move-down" title="{{localize "TERRAINHEIGHTTOOLS.MoveDown"}}"><i class="fas fa-arrow-down"></i></button>
					<button type="button" data-action="duplicate" title="{{localize "Duplicate"}}"><i class="fas fa-copy"></i></button>
					<button type="button" data-action="delete" title="{{localize "Delete"}}"><i class="fas fa-trash"></i></button>
				</div>

				<div class="terrain-type-content {{#unless (lookup ../expandedTypes terrainType.id)}}collapsed{{/unless}}">
					<div class="uses-height-checkbox">
						<input id="{{idx}}_usesHeight" type="checkbox" name="{{idx}}.usesHeight" {{checked terrainType.usesHeight}}>
						<label for="{{idx}}_usesHeight">Has height</label>
					</div>

					<div>
						<div class="form-group-stacked">
							<label>{{localize "DRAWING.LineWidth"}} <span class="hint">({{localize "Pixels"}})</span></label>
							<input type="number" name="{{idx}}.lineWidth" value="{{terrainType.lineWidth}}" min="0" step="1">
						</div>

						<div class="form-group-stacked">
							<label>{{localize "DRAWING.StrokeColor"}}</label>
							{{colorPicker name=(concat idx ".lineColor") value=terrainType.lineColor}}
						</div>

						<div class="form-group-stacked">
							<label>{{localize "DRAWING.LineOpacity"}}</label>
							<div class="form-group">
								{{rangePicker name=(concat idx ".lineOpacity") value=terrainType.lineOpacity min="0" max="1" step="0.1"}}
							</div>
						</div>
					</div>

					<div class="vertical-separator"></div>

					<div>
						<div class="form-group-stacked">
							<label>{{localize "DRAWING.FillTypes"}}</label>
							<select name="{{idx}}.fillType" data-dtype="Number">
								{{selectOptions ../fillTypes selected=terrainType.fillType localize=true}}
							</select>
						</div>

						<div class="form-group-stacked">
							<label>{{localize "DRAWING.FillColor"}}</label>
							{{colorPicker name=(concat idx ".fillColor") value=terrainType.fillColor}}
						</div>

						<div class="form-group-stacked">
							<label>{{localize "DRAWING.FillOpacity"}}</label>
							<div class="form-group">
								{{rangePicker name=(concat idx ".fillOpacity") value=terrainType.fillOpacity min="0" max="1" step="0.1"}}
							</div>
						</div>

						<div class="form-group-stacked">
							<label>{{localize "DRAWING.FillTexture"}}</label>
							<div class="form-group">
								{{filePicker target=(concat idx ".fillTexture") type="image"}}
								<input class="image" type="text" name="{{idx}}.fillTexture" placeholder="path/image.png" value="{{terrainType.fillTexture}}"/>
							</div>
						</div>
					</div>

					<div class="vertical-separator"></div>

					<div>
						<div class="form-group-stacked">
							<label>{{localize "DRAWING.TextLabel"}}</label>
							<label class="hint">{{{localize "TERRAINHEIGHTTOOLS.LabelFormatHint"}}}</label>
							<input type="text" name="{{idx}}.textFormat" value="{{terrainType.textFormat}}">
						</div>

						<div class="form-group-stacked">
							<label>{{localize "DRAWING.FontFamily"}}</label>
							<select name="{{idx}}.font">
								{{selectOptions ../fonts selected=terrainType.fontFamily}}
							</select>
						</div>

						<div class="form-group-stacked">
							<label>{{localize "DRAWING.FontSize"}}</label>
							<input type="number" name="{{idx}}.textSize" value="{{terrainType.textSize}}" min="0" step="1">
						</div>

						<div class="form-group-stacked">
							<label>{{localize "DRAWING.TextColor"}}</label>
							{{colorPicker name=(concat idx ".textColor") value=terrainType.textColor}}
						</div>

						<div class="form-group-stacked">
							<label>{{localize "DRAWING.TextOpacity"}}</label>
							<div class="form-group">
								{{rangePicker name=(concat idx ".textOpacity") value=terrainType.textOpacity min="0" max="1" step="0.1"}}
							</div>
						</div>
					</div>
				</div>
			</li>
		{{/each}}
	</ul>

	<div class="flexrow">
		<button type="button" data-action="terrain-type-add">
			<i class="fas fa-plus"></i>
			{{localize "TERRAINHEIGHTTOOLS.AddTerrainType"}}
		</button>
		<button type="button" data-action="terrain-types-import">
			<i class="fas fa-upload"></i>
			{{localize "TERRAINHEIGHTTOOLS.ImportTerrainTypes"}}
		</button>
		<button type="button" data-action="terrain-types-export">
			<i class="fas fa-download"></i>
			{{localize "TERRAINHEIGHTTOOLS.ExportTerrainTypes"}}
		</button>
		<button type="submit">
			<i class="fas fa-save"></i>
			{{localize "Save Changes"}}
		</button>
	</div>
</form>
