<ul>
	{{#if (eq availableTerrains.length 0)}}
		<li><a data-action="configure-terrain-types">{{localize "TERRAINHEIGHTTOOLS.NoTerrainTypesWarn"}}</a></li>
	{{/if}}
	{{#each availableTerrains as |terrain|}}
		<li data-terrain-id="{{terrain.id}}">
			<div class="preview-box" style="border-color: {{terrain.previewBorderColor}}; background: {{previewBackgroundColor}};"></div>
			<label class="terrain-type-name">{{terrain.name}}</label>
		</li>
	{{/each}}
</ul>

<hr/>

<div class="flex0">
	<div class="height-input flexrow">
		<label>
			{{localize "TERRAINHEIGHTTOOLS.Height.Name"}}
			<i class="fa fa-question-circle height-input-hint" data-tooltip="{{localize "TERRAINHEIGHTTOOLS.Height.Hint"}}"></i>
		</label>
		<input type="number" name="selectedHeight" min="1">
	</div>
	<div class="height-input flexrow">
		<label>
			{{localize "TERRAINHEIGHTTOOLS.Elevation.Name"}}
			<i class="fa fa-question-circle height-input-hint" data-tooltip="{{localize "TERRAINHEIGHTTOOLS.Elevation.Hint"}}"></i>
		</label>
		<input type="number" name="selectedElevation" min="0">
	</div>
</div>
