<form>
	{{{localize "TERRAINHEIGHTTOOLS.DeleteTerrainTypeHint"}}}

	<ul class="terrain-type-list">
		{{#each object as |terrainType idx|}}
			<li class="terrain-type" data-terrain-type-id="{{terrainType.id}}">
				<input type="hidden" name="{{idx}}.id" value="{{terrainType.id}}">

				<div class="terrain-type-header flexrow">
					<button type="button" data-action="toggle-expand">
						<i class="fas fa-chevron-{{#if (lookup ../expandedTypes terrainType.id)}}up{{else}}down{{/if}}"></i>
					</button>

					<input type="text" name="{{idx}}.name" value="{{terrainType.name}}" placeholder="{{localize "Name"}}">

					<button type="button" data-action="move-up" title="{{localize "TERRAINHEIGHTTOOLS.MoveUp"}}"><i class="fas fa-arrow-up"></i></button>
					<button type="button" data-action="move-down" title="{{localize "TERRAINHEIGHTTOOLS.MoveDown"}}"><i class="fas fa-arrow-down"></i></button>
					<button type="button" data-action="duplicate" title="{{localize "Duplicate"}}"><i class="fas fa-copy"></i></button>
					<button type="button" data-action="delete" title="{{localize "Delete"}}"><i class="fas fa-trash"></i></button>
				</div>

				<div class="terrain-type-content {{#unless (lookup ../expandedTypes terrainType.id)}}collapsed{{/unless}}">
					<div class="terrain-type-content-full-width">
						<div data-tooltip="{{localize "TERRAINHEIGHTTOOLS.IsZone.Hint"}}">
							<input id="{{idx}}_isZone" type="checkbox" name="{{idx}}.isZone" {{checked (not terrainType.usesHeight)}}>
							<label for="{{idx}}_isZone">{{localize "TERRAINHEIGHTTOOLS.IsZone.Name"}}</label>
						</div>
						<div data-tooltip="{{localize "TERRAINHEIGHTTOOLS.IsAlwaysVisible.Hint"}}">
							<input id="{{idx}}_isAlwaysVisible" type="checkbox" name="{{idx}}.isAlwaysVisible" {{checked terrainType.isAlwaysVisible}}>
							<label for="{{idx}}_isAlwaysVisible">{{localize "TERRAINHEIGHTTOOLS.IsAlwaysVisible.Name"}}</label>
						</div>
						<div data-tooltip="{{localize "TERRAINHEIGHTTOOLS.IsSolid.Hint"}}">
							<input id="{{idx}}_isSolid" type="checkbox" name="{{idx}}.isSolid" {{checked terrainType.isSolid}}>
							<label for="{{idx}}_isSolid">{{localize "TERRAINHEIGHTTOOLS.IsSolid.Name"}}</label>
						</div>
					</div>

					<div>
						<div class="form-group-stacked">
							<label>{{localize "TERRAINHEIGHTTOOLS.LineType"}}</label>
							<select name="{{idx}}.lineType" data-dtype="Number">
								{{selectOptions ../lineTypes selected=terrainType.lineType localize=true}}
							</select>
						</div>

						<div class="form-group-stacked">
							<label>{{localize "DRAWING.LineWidth"}} <span class="hint">({{localize "Pixels"}})</span></label>
							<input type="number" name="{{idx}}.lineWidth" value="{{terrainType.lineWidth}}" min="0" step="1">
						</div>

						<div class="form-group-stacked">
							<label>{{localize "DRAWING.StrokeColor"}}</label>
							{{colorPicker name=(concat idx ".lineColor") value=terrainType.lineColor}}
						</div>

						<div class="form-group-stacked">
							<label>{{localize "DRAWING.LineOpacity"}}</label>
							<div class="form-group">
								{{rangePicker name=(concat idx ".lineOpacity") value=terrainType.lineOpacity min="0" max="1" step="0.1"}}
							</div>
						</div>

						<div class="flexrow">
							<div class="form-group-stacked">
								<label>{{localize "TERRAINHEIGHTTOOLS.LineDashSize"}}</label>
								<input type="number" name="{{idx}}.lineDashSize" value="{{terrainType.lineDashSize}}" min="1" step="1">
							</div>
							<div class="form-group-stacked" style="margin-left: 5px;">
								<label>{{localize "TERRAINHEIGHTTOOLS.LineGapSize"}}</label>
								<input type="number" name="{{idx}}.lineGapSize" value="{{terrainType.lineGapSize}}" min="1" step="1">
							</div>
						</div>
					</div>

					<div class="vertical-separator"></div>

					<div>
						<div class="form-group-stacked">
							<label>{{localize "DRAWING.FillTypes"}}</label>
							<select name="{{idx}}.fillType" data-dtype="Number">
								{{selectOptions ../fillTypes selected=terrainType.fillType localize=true}}
							</select>
						</div>

						<div class="form-group-stacked">
							<label>{{localize "DRAWING.FillColor"}}</label>
							{{colorPicker name=(concat idx ".fillColor") value=terrainType.fillColor}}
						</div>

						<div class="form-group-stacked">
							<label>{{localize "DRAWING.FillOpacity"}}</label>
							<div class="form-group">
								{{rangePicker name=(concat idx ".fillOpacity") value=terrainType.fillOpacity min="0" max="1" step="0.1"}}
							</div>
						</div>

						<div class="form-group-stacked">
							<label>{{localize "DRAWING.FillTexture"}}</label>
							<div class="form-group">
								{{filePicker target=(concat idx ".fillTexture") type="image"}}
								<input class="image" type="text" name="{{idx}}.fillTexture" placeholder="path/image.png" value="{{terrainType.fillTexture}}"/>
							</div>
						</div>

						<div class="form-group-stacked">
							<label>{{localize "TERRAINHEIGHTTOOLS.TextureOffset"}}</label>
							<div class="form-group flexrow">
								<input type="number" name="{{idx}}.fillTextureOffset.x" value="{{terrainType.fillTextureOffset.x}}" step="1" required placeholder="X">
								<span class="flex0" style="margin-left: 3px">px</span>
								<input type="number" name="{{idx}}.fillTextureOffset.y" value="{{terrainType.fillTextureOffset.y}}" step="1" required placeholder="Y" style="margin-left: 8px;">
								<span class="flex0" style="margin-left: 3px">px</span>
							</div>
						</div>

						<div class="form-group-stacked">
							<label>{{localize "TERRAINHEIGHTTOOLS.TextureScale"}}</label>
							<div class="form-group flexrow">
								<input type="number" name="{{idx}}.fillTextureScale.x" value="{{terrainType.fillTextureScale.x}}" step="1" required placeholder="X">
								<span class="flex0" style="margin-left: 3px">%</span>
								<input type="number" name="{{idx}}.fillTextureScale.y" value="{{terrainType.fillTextureScale.y}}" step="1" required placeholder="Y" style="margin-left: 8px;">
								<span class="flex0" style="margin-left: 3px">%</span>
							</div>
						</div>
					</div>

					<div class="vertical-separator"></div>

					<div>
						<div class="form-group-stacked">
							<label>{{localize "TERRAINHEIGHTTOOLS.LabelFormat.Name"}}</label>
							<label class="hint">{{{localize "TERRAINHEIGHTTOOLS.LabelFormat.Hint"}}}</label>
							<input type="text" name="{{idx}}.textFormat" value="{{terrainType.textFormat}}">
						</div>

						<div class="form-group-stacked">
							<label>{{localize "TERRAINHEIGHTTOOLS.ElevatedLabelFormat.Name"}}</label>
							<label class="hint">{{{localize "TERRAINHEIGHTTOOLS.ElevatedLabelFormat.Hint"}}}</label>
							<input type="text" name="{{idx}}.elevatedTextFormat" value="{{terrainType.elevatedTextFormat}}">
						</div>

						<div class="form-group-stacked">
							<label>{{localize "DRAWING.FontFamily"}}</label>
							<select name="{{idx}}.font">
								{{selectOptions ../fonts selected=terrainType.font}}
							</select>
						</div>

						<div class="form-group-stacked">
							<label>{{localize "DRAWING.FontSize"}}</label>
							<input type="number" name="{{idx}}.textSize" value="{{terrainType.textSize}}" min="0" step="1">
						</div>

						<div class="form-group-stacked">
							<label>{{localize "DRAWING.TextColor"}}</label>
							{{colorPicker name=(concat idx ".textColor") value=terrainType.textColor}}
						</div>

						<div class="form-group-stacked">
							<label>{{localize "DRAWING.TextOpacity"}}</label>
							<div class="form-group">
								{{rangePicker name=(concat idx ".textOpacity") value=terrainType.textOpacity min="0" max="1" step="0.1"}}
							</div>
						</div>

						<div class="form-group">
							<input type="checkbox" name="{{idx}}.textRotation" {{checked terrainType.textRotation}}>
							<label>{{localize "TERRAINHEIGHTTOOLS.AllowTextRotation"}}</label>
						</div>
					</div>
				</div>
			</li>
		{{/each}}
	</ul>

	<div class="flexrow">
		<button type="button" data-action="terrain-type-add">
			<i class="fas fa-plus"></i>
			{{localize "TERRAINHEIGHTTOOLS.AddTerrainType"}}
		</button>
		<button type="button" data-action="terrain-types-import-preset">
			<i class="fas fa-palette"></i>
			{{localize "TERRAINHEIGHTTOOLS.ImportTerrainTypesPreset"}}
		</button>
		<button type="button" data-action="terrain-types-import">
			<i class="fas fa-upload"></i>
			{{localize "TERRAINHEIGHTTOOLS.ImportTerrainTypes"}}
		</button>
		<button type="button" data-action="terrain-types-export">
			<i class="fas fa-download"></i>
			{{localize "TERRAINHEIGHTTOOLS.ExportTerrainTypes"}}
		</button>
		<button type="submit">
			<i class="fas fa-save"></i>
			{{localize "Save Changes"}}
		</button>
	</div>
</form>
