<main style="display: contents;">
	<div class="terrain-type-list-container">
		<!-- List of terrain types -->
		<ul class="terrain-type-list">
			{{#each terrainTypes as |terrainType idx|}}
				<li {{#if (eq terrainType.id ../selectedTerrainTypeId)}}class="active"{{/if}} data-terrain-type-id="{{terrainType.id}}" data-action="selectTerrainType">
					<span>{{terrainType.name}}</span>
					<button type="button" data-action="moveTerrainTypeUp" title="{{localize "TERRAINHEIGHTTOOLS.MoveUp"}}"><i class="fas fa-arrow-up"></i></button>
					<button type="button" data-action="moveTerrainTypeDown" title="{{localize "TERRAINHEIGHTTOOLS.MoveDown"}}"><i class="fas fa-arrow-down"></i></button>
					<button type="button" data-action="duplicateTerrainType" title="{{localize "Duplicate"}}"><i class="fas fa-copy"></i></button>
					<button type="button" data-action="deleteTerrainType" title="{{localize "Delete"}}"><i class="fas fa-trash"></i></button>
				</li>
			{{/each}}
		</ul>

		<div class="terrain-type-list-vertical-separator"></div>

		<!-- Terrain type form -->
		<div class="terrain-type-edit-pane">
			{{#each terrainTypes as |terrainType idx|}}
				<div class="standard-form" data-terrain-type-id="{{terrainType.id}}" {{#unless (eq terrainType.id ../selectedTerrainTypeId)}}style="display: none;"{{/unless}}>
					<input type="hidden" name="{{idx}}.id" value="{{terrainType.id}}">

					<div class="form-group">
						<label>{{localize "Name"}}</label>
						<div class="form-fields">
							<input type="text" name="{{idx}}.name" value="{{terrainType.name}}" placeholder="{{localize "Name"}}">
						</div>
					</div>

					<nav class="sheet-tabs tabs">
						<a class="{{#if (eq ../activeTab 'lines')}}active{{/if}}" data-action="tab" data-group="main" data-tab="lines">
							<i class="fas fa-paint-brush"></i>
							<label>{{localize "DRAWING.TabLines"}}</label>
						</a>
						<a class="{{#if (eq ../activeTab 'fill')}}active{{/if}}" data-action="tab" data-group="main" data-tab="fill">
							<i class="fas fa-fill-drip"></i>
							<label>{{localize "DRAWING.TabFill"}}</label>
						</a>
						<a class="{{#if (eq ../activeTab 'label')}}active{{/if}}" data-action="tab" data-group="main" data-tab="label">
							<i class="fas fa-font"></i>
							<label>{{localize "DRAWING.TabText"}}</label>
						</a>
						<a class="{{#if (eq ../activeTab 'other')}}active{{/if}}" data-action="tab" data-group="main" data-tab="other">
							<i class="fas fa-cogs"></i>
							<label>{{localize "TERRAINHEIGHTTOOLS.Other"}}</label>
						</a>
					</nav>

					<div class="tab {{#if (eq ../activeTab 'lines')}}active{{/if}}" data-group="main" data-tab="lines">
						<div class="form-group">
							<label>{{localize "TERRAINHEIGHTTOOLS.LineType"}}</label>
							<div class="form-fields">
								<select name="{{idx}}.lineType" data-dtype="Number">
									{{selectOptions ../lineTypes selected=terrainType.lineType localize=true}}
								</select>
							</div>
						</div>

						<div class="form-group {{#if (eq terrainType.lineType 0)}}hidden{{/if}}">
							<label>{{localize "DRAWING.LineWidth"}} <span class="hint">({{localize "Pixels"}})</span></label>
							<div class="form-fields">
								<input type="number" name="{{idx}}.lineWidth" value="{{terrainType.lineWidth}}" min="0" step="1">
							</div>
						</div>

						<div class="form-group {{#unless (eq terrainType.lineType 2)}}hidden{{/unless}}">
							<label>{{localize "TERRAINHEIGHTTOOLS.LineDashSize"}} / {{localize "TERRAINHEIGHTTOOLS.LineGapSize"}}</label>
							<div class="form-fields">
								<input type="number" name="{{idx}}.lineDashSize" value="{{terrainType.lineDashSize}}" min="1" step="1">
								<input type="number" name="{{idx}}.lineGapSize" value="{{terrainType.lineGapSize}}" min="1" step="1">
							</div>
						</div>

						<div class="form-group {{#if (eq terrainType.lineType 0)}}hidden{{/if}}">
							<label>{{localize "DRAWING.StrokeColor"}}</label>
							<div class="form-fields">
								<color-picker name="{{idx}}.lineColor" value="{{terrainType.lineColor}}" />
							</div>
						</div>

						<div class="form-group {{#if (eq terrainType.lineType 0)}}hidden{{/if}}">
							<label>{{localize "DRAWING.LineOpacity"}}</label>
							<div class="form-fields">
								{{rangePicker name=(concat idx ".lineOpacity") value=terrainType.lineOpacity min="0" max="1" step="0.05"}}
							</div>
						</div>

						<hr/>

						<div class="form-group">
							<label>{{localize "TERRAINHEIGHTTOOLS.LineFadeDistance"}} <span class="hint">(%)</span></label>
							<div class="form-fields">
								{{rangePicker name=(concat idx ".lineFadeDistance") value=terrainType.lineFadeDistance min="0" max="0.5" step="0.05"}}
							</div>
						</div>

						<div class="form-group {{#if (eq terrainType.lineFadeDistance 0)}}hidden{{/if}}">
							<label>{{localize "TERRAINHEIGHTTOOLS.LineFadeColor"}}</label>
							<div class="form-fields">
								<color-picker name="{{idx}}.lineFadeColor" value="{{terrainType.lineFadeColor}}" />
							</div>
						</div>

						<div class="form-group {{#if (eq terrainType.lineFadeDistance 0)}}hidden{{/if}}">
							<label>{{localize "TERRAINHEIGHTTOOLS.LineFadeOpacity"}}</label>
							<div class="form-fields">
								{{rangePicker name=(concat idx ".lineFadeOpacity") value=terrainType.lineFadeOpacity min="0" max="1" step="0.05"}}
							</div>
						</div>
					</div>

					<div class="tab {{#if (eq ../activeTab 'fill')}}active{{/if}}" data-group="main" data-tab="fill">
						<div class="form-group">
							<label>{{localize "DRAWING.FillTypes"}}</label>
							<div class="form-fields">
								<select name="{{idx}}.fillType" data-dtype="Number">
									{{selectOptions ../fillTypes selected=terrainType.fillType localize=true}}
								</select>
							</div>
						</div>

						<div class="form-group {{#if (eq terrainType.fillType 0)}}hidden{{/if}}">
							<label>{{localize "DRAWING.FillColor"}}</label>
							<div class="form-fields">
								<color-picker name="{{idx}}.fillColor" value="{{terrainType.fillColor}}" />
							</div>
						</div>

						<div class="form-group {{#if (eq terrainType.fillType 0)}}hidden{{/if}}">
							<label>{{localize "DRAWING.FillOpacity"}}</label>
							<div class="form-fields">
								{{rangePicker name=(concat idx ".fillOpacity") value=terrainType.fillOpacity min="0" max="1" step="0.1"}}
							</div>
						</div>

						<div class="form-group {{#unless (eq terrainType.fillType 2)}}hidden{{/unless}}">
							<label>{{localize "DRAWING.FillTexture"}}</label>
							<div class="form-fields">
								<file-picker name="{{idx}}.fillTexture" type="image" value="{{terrainType.fillTexture}}"></file-picker>
							</div>
						</div>

						<div class="form-group {{#unless (eq terrainType.fillType 2)}}hidden{{/unless}}">
							<label>{{localize "TERRAINHEIGHTTOOLS.TextureOffset"}} <span class="hint">({{localize "Pixels"}})</span></label>
							<div class="form-fields">
								<input type="number" name="{{idx}}.fillTextureOffset.x" value="{{terrainType.fillTextureOffset.x}}" step="1" required placeholder="X">
								<input type="number" name="{{idx}}.fillTextureOffset.y" value="{{terrainType.fillTextureOffset.y}}" step="1" required placeholder="Y">
							</div>
						</div>

						<div class="form-group {{#unless (eq terrainType.fillType 2)}}hidden{{/unless}}">
							<label>{{localize "TERRAINHEIGHTTOOLS.TextureScale"}} <span class="hint">%</span></label>
							<div class="form-fields">
								<input type="number" name="{{idx}}.fillTextureScale.x" value="{{terrainType.fillTextureScale.x}}" step="1" required placeholder="X">
								<input type="number" name="{{idx}}.fillTextureScale.y" value="{{terrainType.fillTextureScale.y}}" step="1" required placeholder="Y">
							</div>
						</div>
					</div>

					<div class="tab {{#if (eq ../activeTab 'label')}}active{{/if}}" data-group="main" data-tab="label">
						<div class="form-group">
							<label>{{localize "TERRAINHEIGHTTOOLS.LabelFormat.Name"}}</label>
							<div class="form-fields">
								<textarea class="autoresize" name="{{idx}}.textFormat">{{terrainType.textFormat}}</textarea>
								<div class="form-field-hint-icon" data-tooltip="{{../labelPlaceholderHtml}}" data-tooltip-class="tht_terrainTypesConfig_label-placeholder-tooltip">
									<i class="fas fa-question-circle"></i>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label>{{localize "TERRAINHEIGHTTOOLS.ElevatedLabelFormat.Name"}}</label>
							<div class="form-fields">
								<textarea class="autoresize" name="{{idx}}.elevatedTextFormat">{{terrainType.elevatedTextFormat}}</textarea>
								<div class="form-field-hint-icon" data-tooltip="{{../labelPlaceholderHtml}}" data-tooltip-class="tht_terrainTypesConfig_label-placeholder-tooltip">
									<i class="fas fa-question-circle"></i>
								</div>
							</div>
							<p class="hint">{{localize "TERRAINHEIGHTTOOLS.ElevatedLabelFormat.Hint"}}</p>
						</div>

						<div class="form-group">
							<label>{{localize "DRAWING.FontFamily"}}</label>
							<div class="form-fields">
								<select name="{{idx}}.font">
									{{selectOptions ../fonts selected=terrainType.font}}
								</select>
							</div>
						</div>

						<div class="form-group">
							<label>{{localize "DRAWING.FontSize"}}</label>
							<div class="form-fields">
								<input type="number" name="{{idx}}.textSize" value="{{terrainType.textSize}}" min="0" step="1">
							</div>
						</div>

						<div class="form-group">
							<label>{{localize "DRAWING.TextColor"}}</label>
							<div class="form-fields">
								<color-picker name="{{idx}}.textColor" value="{{terrainType.textColor}}" />
							</div>
						</div>

						<div class="form-group">
							<label>{{localize "DRAWING.TextOpacity"}}</label>
							<div class="form-fields">
								{{rangePicker name=(concat idx ".textOpacity") value=terrainType.textOpacity min="0" max="1" step="0.1"}}
							</div>
						</div>

						<div class="form-group">
							<label>{{localize "TERRAINHEIGHTTOOLS.AllowTextRotation.Name"}}</label>
							<div class="form-fields">
								<input type="checkbox" name="{{idx}}.textRotation" {{checked terrainType.textRotation}}>
							</div>
							<p class="hint">{{localize "TERRAINHEIGHTTOOLS.AllowTextRotation.Hint"}}</p>
						</div>
					</div>

					<div class="tab {{#if (eq ../activeTab 'other')}}active{{/if}}" data-group="main" data-tab="other">
						<div class="form-group">
							<label for="terrainType{{idx}}_isZone">{{localize "TERRAINHEIGHTTOOLS.IsZone.Name"}}</label>
							<div class="form-fields">
								<input id="terrainType{{idx}}_isZone" type="checkbox" name="{{idx}}.isZone" {{checked (not terrainType.usesHeight)}}>
							</div>
							<p class="hint">{{localize "TERRAINHEIGHTTOOLS.IsZone.Hint"}}</p>
						</div>

						<div class="form-group">
							<label for="terrainType{{idx}}_isAlwaysVisible">{{localize "TERRAINHEIGHTTOOLS.IsAlwaysVisible.Name"}}</label>
							<div class="form-fields">
								<input id="terrainType{{idx}}_isAlwaysVisible" type="checkbox" name="{{idx}}.isAlwaysVisible" {{checked terrainType.isAlwaysVisible}}>
							</div>
							<p class="hint">{{localize "TERRAINHEIGHTTOOLS.IsAlwaysVisible.Hint"}}</p>
						</div>

						<div class="form-group">
							<label for="terrainType{{idx}}_isSolid">{{localize "TERRAINHEIGHTTOOLS.IsSolid.Name"}}</label>
							<div class="form-fields">
								<input id="terrainType{{idx}}_isSolid" type="checkbox" name="{{idx}}.isSolid" {{checked terrainType.isSolid}}>
							</div>
							<p class="hint">{{localize "TERRAINHEIGHTTOOLS.IsSolid.Hint"}}</p>
						</div>

						<div class="form-group">
							<label>{{localize "TERRAINHEIGHTTOOLS.DefaultHeight.Name"}}</label>
							<div class="form-fields">
								<input type="number" name="{{idx}}.defaultHeight" value="{{terrainType.defaultHeight}}" step="1">
							</div>
							<p class="hint">{{localize "TERRAINHEIGHTTOOLS.DefaultHeight.Hint"}}</p>
						</div>

						<div class="form-group">
							<label>{{localize "TERRAINHEIGHTTOOLS.DefaultElevation.Name"}}</label>
							<div class="form-fields">
								<input type="number" name="{{idx}}.defaultElevation" value="{{terrainType.defaultElevation}}" step="1">
							</div>
							<p class="hint">{{localize "TERRAINHEIGHTTOOLS.DefaultElevation.Hint"}}</p>
						</div>
					</div>
				</div>
			{{/each}}
		</div>
	</div>
</main>
