<ul>
	{{#if (eq availableTerrains.length 0)}}
		<li><a data-action="configure-terrain-types">{{localize "TERRAINHEIGHTTOOLS.NoTerrainTypesWarn"}}</a></li>
	{{/if}}
	{{#each availableTerrains as |terrain|}}
		<li {{#if (eq ../selectedTerrainId terrain.id)}}class="active"{{/if}} data-terrain-id="{{terrain.id}}">
			<div class="preview-box" style="border-color: {{terrain.previewBorderColor}}; background: {{previewBackgroundColor}};"></div>
			<label class="terrain-type-name">{{terrain.name}}</label>
		</li>
	{{/each}}
</ul>

<div class="flex0">
	<div class="height-input flexrow">
		<label>{{localize "TERRAINHEIGHTTOOLS.Height"}}</label>
		<input type="number" name="selectedHeight" value="{{selectedHeight}}" min="1">
	</div>
</div>
