<form style="display: contents;">
	<p style="margin-top: 0">{{localize "TERRAINHEIGHTTOOLS.TokenLineOfSightConfigHint"}}</p>

	<div class="token-selection-container" data-token-index="1">
		<img class="token-image">
		<span class="token-name"></span>
		<a class="token-action" data-action="selectToken" data-tooltip="{{localize "TERRAINHEIGHTTOOLS.SelectToken"}}">
			<i class="fas fa-bullseye-pointer" style="width:20px"></i>
		</a>
		<a class="token-action" data-action="setHeight">
			<i class="fas" style="width:20px"></i>
		</a>
		<a class="token-action" data-action="clearToken" data-tooltip="{{localize "TERRAINHEIGHTTOOLS.ClearSelectedToken"}}">
			<i class="fas fa-xmark"></i>
		</a>
	</div>

	<div class="token-selection-container" data-token-index="2">
		<img class="token-image">
		<span class="token-name"></span>
		<a class="token-action" data-action="selectToken" data-tooltip="{{localize "TERRAINHEIGHTTOOLS.SelectToken"}}">
			<i class="fas fa-bullseye-pointer"></i>
		</a>
		<a class="token-action" data-action="setHeight">
			<i class="fas" style="width:20px"></i>
		</a>
		<a class="token-action" data-action="clearToken" data-tooltip="{{localize "TERRAINHEIGHTTOOLS.ClearSelectedToken"}}">
			<i class="fas fa-xmark"></i>
		</a>
	</div>

	<label>
		<input type="checkbox" name="rulerIncludeNoHeightTerrain">
		{{localize "TERRAINHEIGHTTOOLS.IncludeZones"}}
	</label>
</form>
